VITE_SUPABASE_URL=https://pcidpbykoylqbyxgwmyx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjaWRwYnlrb3lscWJ5eGd3bXl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MTU4MDQsImV4cCI6MjA5MjA5MTgwNH0.m_fuNlKvPApGLQZaPazClhV4OXLWluQVtacEIC6lWqk
